$purple: (
  'lightest': #C25C8F,
  'lighter': #A2356C,
  'default': #891C53,
  'darker': #6B043B,
  'darkest': #450D26,
);

$orange: (
  'lighest': #EB9370,
  'lighter': #C56640,
  'default': #A84824,
  'darker': #832D1A,
  'darkest': #561E0C,
);

$teal: (
  'lightest': #448D8D,
  'lighter': #277676,
  'default': #156464,
  'darker': #044F4F,
  'darkest': #013535,
);

$red: (
  'default': #f44336
);

$green: (
  'default': #4caf50
);

$success: color($teal, 'default');

$primary_text: #2f2f2f;
