@mixin font-sans {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-sans-medium {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin font-gothic {
  font-family: 'Didact Gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
}
